.git
.gitignore
.github
.vscode
.idea
node_modules
vendor
tests
*.md
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
database/database.sqlite
public/build
public/storage
public/hot
.env
.env.*
!.env.example
npm-debug.log
yarn-error.log
Dockerfile
.dockerignore
